nav {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 6rem;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 0 .2rem .2rem rgba(0,0,0,.2);

    @media screen and (max-width: 768px) {
        margin-bottom: 1rem;
    }

    .nav-header {
        font-size: 1.2rem;
        text-decoration: none;
        color: #2e3440;
        font-weight: bold;
    }
}